<footer class="text-light bg-dark" style="padding-top: 30px;
    padding-bottom: 10px">
    <div class="container">
        <p>Who we are</p>
        <p>Surprize is all about having fun. We share interesting lifestyle tips, inspirational stories, and offer
            amazing daily giveaways!</p><br />
        <p>Need help? Contact us at support@surprizeday.com</p>
    </div>
    <div style="text-align:center;padding-top:10px;line-height:220%;">
        <font style="font-size:12px;color:#999;padding:15px 0;">© <?=date('Y',time())?> Surprize. All Rights Reserved. </font>
    </div>
</footer>