<!DOCTYPE html>
<html lang="en">
<head>
    {include file="index/head" /}
    <style>
        html, body {
            position: relative;
            height: 100%;
        }
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color:#000;
            margin: 0;
            padding: 0;
        }
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide{
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            overflow: auto
        }
     
    </style>

    <!-- <link href="http://cdn.bootcss.com/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
</head>
<body>
    <!-- <div id="music" class="music">
        <a class="music-btn"></a>
    </div>
    <audio id="audiobg" src="media/bg.mp3" preload="true" style="width:0px;height:0px;" autoplay="true" loop="true"></audio> -->
    <!-- Swiper -->
    <div class="swiper-container">
    <div class="swiper-wrapper" id="card-container" data-page="1" data-last="">
        <div class="swiper-slide">Slide 1
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique libero reprehenderit facilis. Pariatur illum repellat distinctio consectetur, minima ad aspernatur odio et obcaecati a unde, accusamus architecto minus, dicta consequatur!</p>
            <p>Illo laboriosam deserunt a quas tempore perspiciatis voluptates dignissimos sunt accusamus, quod quae pariatur impedit rerum, saepe, mollitia cum error consectetur officiis ipsum beatae ut. Eveniet, maxime provident? Mollitia, ullam.</p>
            <p>Nesciunt magni, voluptatum omnis, assumenda maiores harum vel ipsa illo nostrum a non quos optio repellat tenetur ducimus dolorem placeat! Minima cum, animi ullam asperiores qui modi perferendis, earum quis!</p>
            <p>Sint unde corporis, quia ducimus reprehenderit nostrum facilis itaque temporibus corrupti. Explicabo et illo itaque sequi placeat eos architecto, sed accusantium nostrum nihil autem impedit obcaecati voluptatum minima quidem saepe.</p>
            <p>Facilis in aliquam incidunt magni! Neque eos consequatur recusandae sint labore perspiciatis deleniti commodi beatae eveniet omnis, itaque expedita voluptates facere rerum distinctio, aperiam dolores totam doloremque corrupti vitae quibusdam!</p>
            <p>Nemo natus laudantium iusto harum vero praesentium earum rerum corporis pariatur, voluptas, doloribus ipsa vitae assumenda maxime cum magni cumque alias amet laborum libero hic. Eaque accusamus, ipsa assumenda. Dolores.</p>
            <p>Fuga minima perferendis deleniti sed repellendus totam suscipit. Aspernatur laboriosam debitis nisi harum in. Harum, ipsa consequuntur sequi natus, esse quod quaerat qui eligendi nulla iusto magnam fuga iste laudantium.</p>
            <p>In dolorum, aspernatur eius labore? Voluptates eos dolore id quidem, at asperiores facere ea impedit officiis vero aspernatur. Nobis itaque assumenda recusandae, facere a ab. Unde fugiat quisquam, libero suscipit.</p>
            <p>Facere maiores dicta, recusandae sit voluptates dolorem. Veritatis quam iure, commodi consectetur sunt, eligendi possimus cupiditate. Cumque quibusdam veritatis, autem! Eligendi odio eos libero adipisci, iste sapiente unde. Animi, ea!</p>
            <p>Asperiores, dolorum itaque odio exercitationem, nemo officia, atque ex excepturi, accusantium a repellendus? Rerum minima, numquam ipsa unde aperiam totam, delectus distinctio quos obcaecati odit, maiores ipsam inventore beatae ullam?</p>
            <p>Ut perspiciatis enim, voluptatibus laborum, maiores fugiat sequi dicta quam quos in nam distinctio sed corporis obcaecati nesciunt tenetur mollitia, rem eligendi nulla quasi saepe animi pariatur aspernatur! Tempora, provident.</p>
            <p>Non tempora dolore, laboriosam doloremque earum quibusdam, quae ipsam harum, repudiandae explicabo nihil nam aut at. Quisquam qui reiciendis illum, dicta nesciunt aliquid atque earum, odit repellendus debitis sapiente dolores.</p>
            <p>Ad, atque, sint. Nihil ex doloremque, numquam voluptatum qui, explicabo. Quisquam, esse at voluptate debitis perspiciatis velit dolorem accusamus voluptatum dicta, neque numquam sint, harum quis officiis rem autem dolore.</p>
            <p>Ab dolorem pariatur libero recusandae ratione aut nihil, sint quae ipsa. Nobis quidem sequi consequatur porro tempora suscipit debitis cum explicabo corrupti neque, magnam dicta sapiente perspiciatis accusamus! Nulla, blanditiis.</p>
            <p>Sit quas magnam placeat, modi recusandae id quod voluptatibus voluptatem. Sit, nihil, vitae. Dolorem ducimus dolores tenetur. Omnis impedit similique laboriosam, dolor unde voluptas animi iure vel. Facilis odit, reiciendis.</p>
            <p>Voluptas optio iusto autem molestias soluta maiores amet aut fuga ipsa inventore, reprehenderit quis voluptatem cum nihil aliquam rerum incidunt perferendis est accusantium labore, rem iure, necessitatibus quod voluptatum. Incidunt.</p>
            <p>Non ipsa, optio deserunt. Minus numquam omnis facere atque dolore suscipit eius expedita delectus dignissimos molestiae dicta inventore illo, quaerat beatae error recusandae quas sunt labore quae! Ex quidem, sed.</p>
            <p>Placeat veniam totam, error neque, dolore dolores, pariatur rerum voluptatibus recusandae reiciendis dicta itaque nisi ratione fugiat illum perferendis eaque. Accusamus dolorem, autem mollitia sit modi vitae numquam, perferendis facere.</p>
            <p>Voluptates quos recusandae pariatur quas beatae ad at odit, est rerum sint repudiandae adipisci sapiente ipsam doloremque corporis excepturi harum magnam eaque eveniet, fuga repellendus accusantium incidunt dolor perferendis? Suscipit.</p>
            <p>Eaque reprehenderit assumenda expedita sapiente error consequuntur ullam quisquam ab, placeat sit amet optio, ad corporis unde aliquam eius harum consequatur, quasi quae mollitia debitis aspernatur. Ipsam sed rerum perspiciatis.</p>
        </div>
        <div class="swiper-slide">Slide 2
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique libero reprehenderit facilis. Pariatur illum repellat distinctio consectetur, minima ad aspernatur odio et obcaecati a unde, accusamus architecto minus, dicta consequatur!</p>
            <p>Illo laboriosam deserunt a quas tempore perspiciatis voluptates dignissimos sunt accusamus, quod quae pariatur impedit rerum, saepe, mollitia cum error consectetur officiis ipsum beatae ut. Eveniet, maxime provident? Mollitia, ullam.</p>
            <p>Nesciunt magni, voluptatum omnis, assumenda maiores harum vel ipsa illo nostrum a non quos optio repellat tenetur ducimus dolorem placeat! Minima cum, animi ullam asperiores qui modi perferendis, earum quis!</p>
            <p>Sint unde corporis, quia ducimus reprehenderit nostrum facilis itaque temporibus corrupti. Explicabo et illo itaque sequi placeat eos architecto, sed accusantium nostrum nihil autem impedit obcaecati voluptatum minima quidem saepe.</p>
            <p>Facilis in aliquam incidunt magni! Neque eos consequatur recusandae sint labore perspiciatis deleniti commodi beatae eveniet omnis, itaque expedita voluptates facere rerum distinctio, aperiam dolores totam doloremque corrupti vitae quibusdam!</p>
            <p>Nemo natus laudantium iusto harum vero praesentium earum rerum corporis pariatur, voluptas, doloribus ipsa vitae assumenda maxime cum magni cumque alias amet laborum libero hic. Eaque accusamus, ipsa assumenda. Dolores.</p>
            <p>Fuga minima perferendis deleniti sed repellendus totam suscipit. Aspernatur laboriosam debitis nisi harum in. Harum, ipsa consequuntur sequi natus, esse quod quaerat qui eligendi nulla iusto magnam fuga iste laudantium.</p>
            <p>In dolorum, aspernatur eius labore? Voluptates eos dolore id quidem, at asperiores facere ea impedit officiis vero aspernatur. Nobis itaque assumenda recusandae, facere a ab. Unde fugiat quisquam, libero suscipit.</p>
            <p>Facere maiores dicta, recusandae sit voluptates dolorem. Veritatis quam iure, commodi consectetur sunt, eligendi possimus cupiditate. Cumque quibusdam veritatis, autem! Eligendi odio eos libero adipisci, iste sapiente unde. Animi, ea!</p>
            <p>Asperiores, dolorum itaque odio exercitationem, nemo officia, atque ex excepturi, accusantium a repellendus? Rerum minima, numquam ipsa unde aperiam totam, delectus distinctio quos obcaecati odit, maiores ipsam inventore beatae ullam?</p>
            <p>Ut perspiciatis enim, voluptatibus laborum, maiores fugiat sequi dicta quam quos in nam distinctio sed corporis obcaecati nesciunt tenetur mollitia, rem eligendi nulla quasi saepe animi pariatur aspernatur! Tempora, provident.</p>
            <p>Non tempora dolore, laboriosam doloremque earum quibusdam, quae ipsam harum, repudiandae explicabo nihil nam aut at. Quisquam qui reiciendis illum, dicta nesciunt aliquid atque earum, odit repellendus debitis sapiente dolores.</p>
            <p>Ad, atque, sint. Nihil ex doloremque, numquam voluptatum qui, explicabo. Quisquam, esse at voluptate debitis perspiciatis velit dolorem accusamus voluptatum dicta, neque numquam sint, harum quis officiis rem autem dolore.</p>
            <p>Ab dolorem pariatur libero recusandae ratione aut nihil, sint quae ipsa. Nobis quidem sequi consequatur porro tempora suscipit debitis cum explicabo corrupti neque, magnam dicta sapiente perspiciatis accusamus! Nulla, blanditiis.</p>
            <p>Sit quas magnam placeat, modi recusandae id quod voluptatibus voluptatem. Sit, nihil, vitae. Dolorem ducimus dolores tenetur. Omnis impedit similique laboriosam, dolor unde voluptas animi iure vel. Facilis odit, reiciendis.</p>
            <p>Voluptas optio iusto autem molestias soluta maiores amet aut fuga ipsa inventore, reprehenderit quis voluptatem cum nihil aliquam rerum incidunt perferendis est accusantium labore, rem iure, necessitatibus quod voluptatum. Incidunt.</p>
            <p>Non ipsa, optio deserunt. Minus numquam omnis facere atque dolore suscipit eius expedita delectus dignissimos molestiae dicta inventore illo, quaerat beatae error recusandae quas sunt labore quae! Ex quidem, sed.</p>
            <p>Placeat veniam totam, error neque, dolore dolores, pariatur rerum voluptatibus recusandae reiciendis dicta itaque nisi ratione fugiat illum perferendis eaque. Accusamus dolorem, autem mollitia sit modi vitae numquam, perferendis facere.</p>
            <p>Voluptates quos recusandae pariatur quas beatae ad at odit, est rerum sint repudiandae adipisci sapiente ipsam doloremque corporis excepturi harum magnam eaque eveniet, fuga repellendus accusantium incidunt dolor perferendis? Suscipit.</p>
            <p>Eaque reprehenderit assumenda expedita sapiente error consequuntur ullam quisquam ab, placeat sit amet optio, ad corporis unde aliquam eius harum consequatur, quasi quae mollitia debitis aspernatur. Ipsam sed rerum perspiciatis.</p>
        </div>

        <div class="swiper-slide">
            <!-- Swiper -->
            <div class="swiper-container1">
                <div class="swiper-wrapper w-100">
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/61tl5D0D3nL._SL1500_1024x1024.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/61TmAEq7bML._SL1500_grande.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/71awlzwL5YL._SL1500_grande.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <video width="100%" height="auto" controls>
                            <source src="https://www.runoob.com/try/demo_source/movie.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="swiper-pagination d-table w-auto mr-0"></div>
                <ul class="slide-to">
                    <li class="pic">PICS</li>
                    <li class="video"></li>
                </ul>
            </div>

            <div class="bg-white d-table w-100 pt-3">
                <div class="detai-text pb-2">
                    <h5>Win 1 of 3 $ 14 Some quick example text to build on the card title and Gift Card</h5>
                    <p class="opacity-85">Draw time: <span>6/25/2019 at 6 pm PDT</span></p>
                    <p class="condition opacity-85">Condition: <span>6/25/2019 at 6 pm PDT</span></p>
                </div>
            </div>


            <!--features-->
            <div class="features d-flex bd-highlight mb-2 bg-white d-flex align-items-center">
                <div class="mr-auto bd-highlight">
                    <h4>SURPRIZE</h4>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-light btn-border">Offical rules</button>
                </div>
            </div>

            <!---->
            <div class="formation-btn bg-white clearfix">
                <button type="button" class="btn btn-dark border-0 w-100">ENTER</button>
            </div>

            <!--view-all-->
            <div class="view-all bg-white d-table w-100 clearfix">
                <a href="participantes.html" class="d-block text-center opacity-65"><span>1132</span> participantes, view all</a>
                <ul class="participantes">
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                </ul>
            </div>

            <!--to-more-->
            <ul class="to-more fixed">
                <li><a href="">Share</a></li>
            </ul>

            <!--draw-->
            <div class="draw text-center">
                Continue to draw, more prizes are waiting for you
            </div>
        </div>
        <div class="swiper-slide">
            <!-- Swiper -->
            <div class="swiper-container1" >
                <div class="swiper-wrapper w-100">
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/61tl5D0D3nL._SL1500_1024x1024.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/61TmAEq7bML._SL1500_grande.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/71awlzwL5YL._SL1500_grande.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <video width="100%" height="auto" controls>
                            <source src="https://www.runoob.com/try/demo_source/movie.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="swiper-pagination d-table w-auto mr-0"></div>
                <ul class="slide-to">
                    <li class="pic">PICS</li>
                    <li class="video"></li>
                </ul>
            </div>

            <div class="bg-white d-table w-100 pt-3">
                <div class="detai-text pb-2">
                    <h5>Win 1 of 3 $ 14 Some quick example text to build on the card title and Gift Card</h5>
                    <p class="opacity-85">Draw time: <span>6/25/2019 at 6 pm PDT</span></p>
                    <p class="condition opacity-85">Condition: <span>6/25/2019 at 6 pm PDT</span></p>
                </div>
            </div>


            <!--features-->
            <div class="features d-flex bd-highlight mb-2 bg-white d-flex align-items-center">
                <div class="mr-auto bd-highlight">
                    <h4>SURPRIZE</h4>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-light btn-border">Offical rules</button>
                </div>
            </div>

            <!---->
            <div class="formation-btn bg-white clearfix">
                <button type="button" class="btn btn-dark border-0 w-100">ENTER</button>
            </div>

            <!--view-all-->
            <div class="view-all bg-white d-table w-100 clearfix">
                <a href="participantes.html" class="d-block text-center opacity-65"><span>1132</span> participantes, view all</a>
                <ul class="participantes">
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                </ul>
            </div>

            <!--to-more-->
            <ul class="to-more fixed">
                <li><a href="">Share</a></li>
            </ul>

            <!--draw-->
            <div class="draw text-center">
                Continue to draw, more prizes are waiting for you
            </div>
        </div>
        <div class="swiper-slide">
            <!-- Swiper -->
            <div class="swiper-container1" >
                <div class="swiper-wrapper w-100">
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/61tl5D0D3nL._SL1500_1024x1024.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/61TmAEq7bML._SL1500_grande.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/71awlzwL5YL._SL1500_grande.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <video width="100%" height="auto" controls>
                            <source src="https://www.runoob.com/try/demo_source/movie.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="swiper-pagination d-table w-auto mr-0"></div>
                <ul class="slide-to">
                    <li class="pic">PICS</li>
                    <li class="video"></li>
                </ul>
            </div>

            <div class="bg-white d-table w-100 pt-3">
                <div class="detai-text pb-2">
                    <h5>Win 1 of 3 $ 14 Some quick example text to build on the card title and Gift Card</h5>
                    <p class="opacity-85">Draw time: <span>6/25/2019 at 6 pm PDT</span></p>
                    <p class="condition opacity-85">Condition: <span>6/25/2019 at 6 pm PDT</span></p>
                </div>
            </div>


            <!--features-->
            <div class="features d-flex bd-highlight mb-2 bg-white d-flex align-items-center">
                <div class="mr-auto bd-highlight">
                    <h4>SURPRIZE</h4>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-light btn-border">Offical rules</button>
                </div>
            </div>

            <!---->
            <div class="formation-btn bg-white clearfix">
                <button type="button" class="btn btn-dark border-0 w-100">ENTER</button>
            </div>

            <!--view-all-->
            <div class="view-all bg-white d-table w-100 clearfix">
                <a href="participantes.html" class="d-block text-center opacity-65"><span>1132</span> participantes, view all</a>
                <ul class="participantes">
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                </ul>
            </div>

            <!--to-more-->
            <ul class="to-more fixed">
                <li><a href="">Share</a></li>
            </ul>

            <!--draw-->
            <div class="draw text-center">
                Continue to draw, more prizes are waiting for you
            </div>
        </div>

        <div class="swiper-slide">Slide 3</div>
        <!--<div class="swiper-slide">Slide 4</div>-->
        <!--<div class="swiper-slide">Slide 5</div>-->
        <!--<div class="swiper-slide">Slide 6</div>-->
        <!--<div class="swiper-slide">Slide 7</div>-->
        <!--<div class="swiper-slide">Slide 8</div>-->
        <!--<div class="swiper-slide">Slide 9</div>-->
        <!--<div class="swiper-slide">Slide 10</div>-->

    </div>
</div>
    {include file="index/scripts" /}
    <!-- <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script> -->
    <!-- <script src="http://cdn.bootcss.com/Swiper/3.4.1/js/swiper.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

    <script>
        var  prizeSwiper, htmlTpl;
        htmlTpl = '';


        // data 后台传递的数值
        function formatHtml(data) {
            // var info = data.info;
            // var users = data.user;
            // var display = '';
            // var title = info.title;
            // var description = info.description;
            // var time = dateFormat(info.start_time);
            // var userUrl = '/surprize/' + info.id + '/users';
            // var usersHtml = '';
            // var buttonHtml = '';
            // var userCount = users.total;
            // var avatar = '/static/img/default-avatar.png';
            // // var bottomTip = 'Continue to draw, more prizes are waiting for you';
            //
            // for(var i = 0; i< info.prize.pic.length; i++){
            //     display += `<div class="swiper-slide1"><img class="w-100" src="`+ info.prize.pic[i] +`"/></div>`;
            // }
            // if (info.prize.video) {
            //     display += `<div class="swiper-slide1">
            //                 <video width="100%" height="auto" controls>
            //                     <source src="`+  info.prize.video +`" type="video/mp4">
            //                 </video>
            //             </div>`;
            // }
            //
            // if (info.engaged) {
            //     // buttonHtml = '<button type="button" class="btn btn-dark border-0 w-100 post_opt_in" disabled>ENROLLED</button>' +
            //     buttonHtml = '<span style="display: block; text-align: center;">ENROLLED</span>' +
            //         `<button type="button" style="margin-top:10px" class="btn btn-dark border-0 w-100 post_opt_in" onclick="javascript:window.location.href='/'">More Prizes</button>`;
            // } else {
            //     buttonHtml = '<button type="button" class="btn btn-dark border-0 w-100 post_opt_in" onclick="optIn(this)" >ENTER</button>' ;
            // }
            //
            // for (var k = 0; k < users.info.length; k++) {
            //     if (users.info[k].user.avatar) {
            //         avatar = users.info[k].user.avatar;
            //     }
            //     usersHtml += `<li><img class="w-100" src="`+ avatar +`" alt="`+ users.info[k].user.name +`"></li>`;
            // }
            //
            // var htmlTpl1 = `<div class="swiper-slide" data-activity_id="` + info.id + `">
            //     <div class="pics-swiper">
            //     <div class="swiper-wrapper w-100"> `
            //         + display  +`
            //     </div>
            //     <div class="swiper-pagination d-table w-auto mr-0"></div>
            //     <ul class="slide-to">
            //     <li class="pic">PICS</li>
            //     <li class="video"></li>
            //     </ul>
            //     </div>
            //
            //     <div class="bg-white d-table w-100 pt-3">
            //     <div class="detai-text pb-2">
            //     <h5 class="activity_title">`+ title +`</h5>
            //     <p class="opacity-85">Draw time: <span class="activity_start_time">`+ time +` PDT</span></p>
            //     <p class="condition opacity-85">Description: <span>`+ description +`</span></p>
            //     </div>
            //     </div>
            //
            //     <!--features-->
            //     <div class="features d-flex bd-highlight mb-2 bg-white d-flex align-items-center">
            //     <div class="mr-auto bd-highlight">
            //     <h4>SURPRIZE</h4>
            //     </div>
            //     <div class="bd-highlight">
            //     <a href="/policy"><button type="button" class="btn btn-light btn-border">Official rules</button></a>
            //     </div>
            //     </div>
            //
            //     <!---->
            //     <div class="formation-btn bg-white clearfix">
            //     `+ buttonHtml +`
            //     </div>
            //
            //     <!--view-all-->
            //     <div class="view-all bg-white d-table w-100 clearfix">
            //     <a href="`+ userUrl +`" class="d-block text-center opacity-65 activity_users"><span class="activity_users_count">`+ userCount +`</span> participant(s), view all</a>
            //     <ul class="participantes">
            //     `+ usersHtml +`
            // </ul>
            // </div>
            // <!--to-more-->
            // <ul class="to-more ">
            // <li><a href="javascript:void(0)" onclick="share()">Share</a></li>
            // </ul>
            //
            // <!--draw-->
            // <div class="draw text-center tip">
            // Continue to draw, more prizes are waiting for you
            // </div>
            // </div>`;
            htmlTpl = `<div class="swiper-slide">
            <!-- Swiper -->
            <div class="swiper-container1" >
                <div class="swiper-wrapper w-100">
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/61tl5D0D3nL._SL1500_1024x1024.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/61TmAEq7bML._SL1500_grande.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0065/9413/4106/products/71awlzwL5YL._SL1500_grande.jpg?v=1560312916" />
                    </div>
                    <div class="swiper-slide">
                        <video width="100%" height="auto" controls>
                            <source src="https://www.runoob.com/try/demo_source/movie.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="swiper-pagination d-table w-auto mr-0"></div>
                <ul class="slide-to">
                    <li class="pic">PICS</li>
                    <li class="video"></li>
                </ul>
            </div>

            <div class="bg-white d-table w-100 pt-3">
                <div class="detai-text pb-2">
                    <h5>Win 1 of 3 $ 14 Some quick example text to build on the card title and Gift Card</h5>
                    <p class="opacity-85">Draw time: <span>6/25/2019 at 6 pm PDT</span></p>
                    <p class="condition opacity-85">Condition: <span>6/25/2019 at 6 pm PDT</span></p>
                </div>
            </div>


            <!--features-->
            <div class="features d-flex bd-highlight mb-2 bg-white d-flex align-items-center">
                <div class="mr-auto bd-highlight">
                    <h4>SURPRIZE</h4>
                </div>
                <div class="bd-highlight">
                    <button type="button" class="btn btn-light btn-border">Offical rules</button>
                </div>
            </div>

            <!---->
            <div class="formation-btn bg-white clearfix">
                <button type="button" class="btn btn-dark border-0 w-100">ENTER</button>
            </div>

            <!--view-all-->
            <div class="view-all bg-white d-table w-100 clearfix">
                <a href="participantes.html" class="d-block text-center opacity-65"><span>1132</span> participantes, view all</a>
                <ul class="participantes">
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                    <li><img class="w-100" src="https://yt3.ggpht.com/-IF4-K96Evuk/AAAAAAAAAAI/AAAAAAAAAAA/XDTpZgRsIPk/s48-c-k-no-mo-rj-c0xffffff/photo.jpg"></li>
                </ul>
            </div>

            <!--to-more-->
            <ul class="to-more fixed">
                <li><a href="">Share</a></li>
            </ul>

            <!--draw-->
            <div class="draw text-center">
                Continue to draw, more prizes are waiting for you
            </div>
        </div>`;

            return htmlTpl;
            }

        function dateFormat(timeStamp) {
            var date = new Date(timeStamp * 1000);
            var Y = date.getFullYear();
            var M = (date.getMonth() + 1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '/';
            var D = date.getDate() + '/';
            var h = date.getHours() > 12 ? (date.getHours() - 12) + ' pm': date.getHours() + ' am';
            return (M+D+Y+ ' at ' + h);
        }
        //  滑动切换效果,展示下一个推荐产品
        //  当用户滑动时切换时,隐藏显示的div并发起异步请求将隐藏的div数据填充好
        //  将前面展示的div进行展示
        function info(data) {
            console.log(data);
            more({"info": data.activity, "user": {"info": data.users.data, "total": data.users.total}});
        }

        function more(data) {
            // 更新请求page,page
            console.log(data);
            if (data.info) {
                prizeSwiper.appendSlide(formatHtml(data)); //加到Swiper的最后
                var picsSwiper = new Swiper('.pics-swiper', {
                    autoHeight: true,
                    spaceBetween : 20,
                    pagination: {
                        el: '.pics-swiper .swiper-pagination',
                        type: 'fraction'
                    },
                    observer:true,
                    observeParents:true,
                    observeSlideChildren:true
                });
            } else {
                // 已经没有其他活动了
                $('.tip.draw:last').text('There is no more available.');
                return false;
            }
        }

        function ajaxRequest(token, url, num, page, callback) {
            $.ajax({
                type: 'GET',
                dataType: 'JSON',
                headers: { 'token': token },
                url: url,
                data: {"num": num, "page": page},
                success: function(res) {
                    callback(res);
                },
                error: function(err) {
                    console.log(err);
                    Swal.fire(
                        'Error',
                        err.responseJSON.msg,
                        'error'
                    );
                }
            });
        }


        // $(function(){
            var con = $('#card-container');
            prizeSwiper = new Swiper('.swiper-container', {
                direction: 'vertical',
                touchRatio: 0.4,
                observer:true,
                // observeParents:true,
                observeSlideChildren:true,
                on: {
                    init: function(){
                        // 当前活动信息
                        ajaxRequest(token, indexUrl, 1, 1, function(res){
                            info(res);
                            // 初始化，请求当期活动数据和下一个活动的数据，初始化swiper
                            ajaxRequest(token, moreUrl, 1, 1, function(res){
                                more(res);
                                con.data('page', (parseInt(con.data('page')) + 1));
                            });  // 滚动信息
                        });
                    },
                    touchStart: function(e){
                        console.log(e.targetTouches[0].pageY);
                        console.log(this.slides[this.activeIndex]);
                    },
                    /*touchStart: function(e){
                   // startScroll = this.slides[this.activeIndex].scrollTop;
                   // startScroll = prizeSwiper.el.scrollTop;
                   // touchStart = e.targetTouches[0].pageY;
                   console.log(startScroll);
                   console.log(touchStart);
                   },
                   touchMove: function(e) {
                       // touchCurrent = e.targetTouches[0].pageY;
                       // var touchesDiff = touchCurrent - touchStart;
                       // var slide = prizeSwiper.el;
                       // console.log(touchCurrent);
                       // console.log(slide.scrollHeight);
                       // console.log(slide.offsetHeight);
                       //
                       // var onlyScrolling =
                       //     ( slide.scrollHeight > slide.offsetHeight ) &&  // 滑动窗口长度大于当前窗口长度
                       //     (
                       //         ( touchesDiff < 0 && startScroll === 0 ) ||  // 向下滑动并且点按
                       //         ( touchesDiff > 0 && startScroll === ( slide.scrollHeight - slide.offsetHeight ) ) ||  // 刚好一页
                       //         ( startScroll > 0 && startScroll < ( slide.scrollHeight - slide.offsetHeight ) )  // 小于一页
                       //     );
                       // console.log(onlyScrolling);
                       // console.log(e);
                       // console.log('------------------------------');
                       // if (onlyScrolling) {
                       //     e.stopPropagation();
                       //     e.cancelBubble = true;
                       //     console.log(e);
                       //     return false;
                       // }
                   }*/
                }
            });
            var startScroll, touchStart, touchCurrent;
            prizeSwiper.slides.on('touchstart', function (e) {
                console.log(e);
                console.log(this);
                startScroll = this.scrollTop;
                touchStart = e.targetTouches[0].pageY;
            }, true);
            prizeSwiper.slides.on('touchmove', function (e) {
                console.log(e);
                console.log(this);
                touchCurrent = e.targetTouches[0].pageY;
                var touchesDiff = touchCurrent - touchStart;
                var slide = this;
                console.log(this);
                var onlyScrolling =
                    ( slide.scrollHeight > slide.offsetHeight ) &&
                    (
                        ( touchesDiff < 0 && startScroll === 0 ) ||
                        ( touchesDiff > 0 && startScroll === ( slide.scrollHeight - slide.offsetHeight ) ) ||
                        ( startScroll > 0 && startScroll < ( slide.scrollHeight - slide.offsetHeight ) )
                    );
                if (onlyScrolling) {
                    e.stopPropagation();
                }
            }, true);
            prizeSwiper.on('slideNextTransitionStart', function(e){
                var page = con.data('page') ? con.data('page') : 3;
                ajaxRequest(token, moreUrl, 1, page, function(res){
                    /*if (res.info && res.info.prize.length === 0) {
                        if ((prizeSwiper.activeIndex + 1) === page) {
                            Swal.fire(
                                'Error',
                                'No prize yet,please try other activity',
                                'error'
                            );
                        }
                        return false
                    }*/

                    more(res);
                    console.log(prizeSwiper);
                    prizeSwiper.update();
                    prizeSwiper.updateSlides();
                    con.data('page', (parseInt(con.data('page')) + 1));
                });  // 滚动信息





                // alert(e)
            });
        // });

    </script>
</body>
</html>


