<!DOCTYPE html>
<html lang="en">

<head>
  <title>{$head['og_title']}</title>
  <meta content="charset=utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
  <meta name="X-TOKEN" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta property="fb:app_id" content="373581646846834"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:site_name" content="Surprize"/>
  <meta property="og:type" content="website"/>

  <meta property="og:title" content="{$head['og_title']}"/>
  <meta property="og:description" content="{$head['og_desc']}"/>
  <meta property="og:url" content="{$head['og_url']}"/>
  <meta property="og:image" content="{$head['og_image']}"/>
  <meta property="og:image:secure_url" content="{$head['og_image']}"/>
  <meta property="og:image:width" content="{$head['og_image_width']}"/>
  <meta property="og:image:height" content="{$head['og_image_height']}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/pc_common.css?v=4t9Ssq4pZG5R">
  <link rel="stylesheet" type="text/css" href="/static/css/details.css?v=4t9Ssq4pZG5R">
  <style>
    .check-give-away {
      padding: 6px 10px;
      border-radius:6px;
    }
    .check-give-away:hover {
      background: #ffb862;
    }
    .pic-con{
      padding:0;
      max-height: 335px;
    }
    .pic-con .swiper-slide img{
      border:1px solid #eee;
    }
    .pic .gallery-top{
      width:68%;
      height: 100%;
      max-height: 313px;
      float: left;
    }
    .pic .gallery-thumbs{
      width:32%;
      float: left;
      max-height: 313px;
      padding-top:0;
      padding-left: 7px;
      padding-bottom: 0;
    }
    .pic .gallery-thumbs .swiper-slide{
      max-height: 84px;
      overflow: hidden;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{include file="index/common/pc_header" /}
<div class="rule-con">
  <div class="container bg-white mb-2 pt-5 pb-2">
    <h5 class="card-title">Who Can Enter</h5>
    <p class="opacity-85">To be eligible to participate in the sweepstakes, entrants must be residents of the United States and over 18 years old. Minors over the age of 13 are ONLY eligible to enter with the consent of their parents or legal guardians.</p>
  </div>
  <div class="container bg-white mb-2 pt-2 pb-2">
    <h5 class="card-title">How to Enter</h5>
    <p class="opacity-85">a) No purchase is necessary to enter.  Only one entry allowed per account holder.</p>

    <p class="opacity-85">b) To enter, entrants are not required to like, comment, or share our page. </p>

    <p class="opacity-85">c) Winner will be selected by random drawing from among valid entries. </p>
  </div>
  <div class="container bg-white mb-2 pt-2 pb-2">
    <h5 class="card-title">The Prize(s)</h5>
    <p class="opacity-85">
      1. Each winner will be notified by a Facebook message. To claim the prize, the winner must provide his/her correct name, address and telephone number to Surprize at the time of notification. Surprize reserves the right to examine additional identification and may choose to accept or deny awarding the prize based on the eligibility of the winner.
    </p>
    <p class="opacity-85">
      2. If a winner cannot be notified within five (5) days, then the prize will be forfeited, and the prize will be awarded to an alternate winner randomly selected from among remaining valid entries.
    </p>
    <p class="opacity-85">
      3. There will be no substitutions or cash alternatives. Surprize has the right to substitute a prize of similar value.  No transfer or assignment of prizes is allowed.
    </p>
    <p class="opacity-85">
      4. Only one prize will be awarded per household.
    </p>
    <p class="opacity-85">
      5. Surprize is not liable if the provider of any part of the prize fails to satisfy its obligations to furnish its portion of the prize.
    </p>
    <p class="opacity-85">
      6. Surprize is not responsible for any liability arising directly or indirectly from the award or use of the prize.
    </p>
    <p class="opacity-85">
      7. In entering the sweepstakes and claiming your prize, you acknowledge that Surprize has the right to publicize your name, character, likeness, photograph, voice and the fact that you are the winner for promotional purposes without financial remuneration.
    </p>
  </div>
  <div class="container bg-white mb-2 pt-2 pb-2">
    <h5 class="card-title">Miscellaneous</h5>
    <p class="opacity-85">1. This contest is subject to all applicable laws and regulations and is void where prohibited.  Surprize and FACEBOOK accepts no responsibility or liability in connection with any injuries, losses or damages of any kind caused by or resulting from the acceptance, possession or use of any prize awarded hereunder.</p>
    <p class="opacity-85">2. Surprize cannot be held liable for any lost or stolen entries, prizes, or contest information.  Surprize is not responsible for any computer or electronic malfunction, server unavailability, technological glitch, or human error relating to this contest and/or the use of short-code.</p>
    <p class="opacity-85">3. Surprize reserves the right to make rules and contest changes, and change the aforementioned contest dates.</p>
    <p class="opacity-85">4. By entering this contest, each entrant waives any and all claims of liability against Surprize, Facebook.com, and their respective parents, affiliates, officers, directors, employees, and agents, for any and all claims, loss, damage or injury which may occur as a result of entrant’s participation in this contest.</p>
    <p class="opacity-85">5. Facebook Inc., and www.facebook.com are not affiliated with Surprize nor any sweepstakes hosted by Surprize. Any sweepstakes, raffles or promotions are in no way sponsored, endorsed, or administered by or associated with Facebook.</p>
  </div>

</div>
</body>
{include file="index/common/pc_footer" /}
{include file="index/common/scripts" /}
</html>