<!DOCTYPE html>
<html lang="en">

<head>
  <title>{$head['og_title']}</title>
  <meta content="charset=utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
  <meta name="X-TOKEN" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/pc_common.css?v=4t9Ssq4pZG5R">
</head>
<body>
{include file="index/common/pc_header" /}
<div class="pt-5 pb-5 justify-content-center" style="text-align: center;min-height: 500px;">
    <span style="font-size: 25px">You are unsubscribed.</span>
</div>
</body>
{include file="index/common/pc_footer" /}
{include file="index/common/scripts" /}
</html>