<!--header-->
<div class="header">
    <div class="features d-flex bd-highlight mb-2 bg-white d-flex align-items-center">
        <div class="mr-auto bd-highlight">
            <a href="javascript:window.history.back()"><button type="button" class="btn btn-light btn-border">Back</button></a>
        </div>
        <div class="bd-highlight">
            <button type="button" class="btn btn-light btn-border icon-bars-btn slideButton">MORE</button>
        </div>
    </div>
    <div class="toggle-menu" style="display: none">
        <div class="features d-flex bd-highlight mb-2 bg-white d-flex align-items-center" style="height:12rem">
            <div class="bd-highlight">
                <a href="/"><button type="button" class="btn btn-light btn-border">Home</button></a>
                <a href="/winners"><button type="button" class="btn btn-light btn-border">Winners</button></a>
                <a href="/account"><button type="button" class="btn btn-light btn-border">My Draws</button></a>
                <a href="/policy"><button type="button" class="btn btn-light btn-border">Official Rules</button></a>
                <a href="/contact"><button type="button" class="btn btn-light btn-border">Contact us</button></a>
            </div>
        </div>
    </div>
</div>
<!--header end-->